$green: #31D2B1;
$black: #2D3036;
$headers: #EFF5FE;
$grey: #ABB6C6;

@import './vendor/bourbon/bourbon';
@import 'grid-settings';
@import './vendor/neat/neat';
@import './vendor/base/base';

chat{
  @include outer-container;
}

.chat--container{
  @include span-columns(12);
}

.chat--container userlist{
  @include omega();
  @include span-columns(2);
}

.channels--container{
  @include span-columns(10);
}

.channels--container .channel-list{
  @include shift(1);
  @include span-columns(1);
  @include omega();
  ul{
    text-align: right;
    li.is-shown{
      background: $grey
    }
  }
}

.channels--container channel{
  &.is-shown{
    display:block;
  }
  @include span-columns(10);
  background: $grey;
  display:none
}

.channels--container .channel userlist{}

.channels--container .channel message{}
